/* === Fonts === */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  --weis: #fff;
  --grey: rgb(128, 128, 128);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#video {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

/* Navigation Styling */
.navigation {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 4;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5); /* Halbdurchsichtiger Hintergrund für bessere Sichtbarkeit */
  border-radius: 0 0 5px 5px;
  justify-content: flex-end;
}

#nav-button-list {
  display: flex;
  gap: 1rem;
  padding-right: 3rem;
}

.nav-button-dienstleistung,
.nav-button-email,
.nav-button-kontakt,
.nav-button-uns {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 4;
}

.nav-button-dienstleistung:hover,
.nav-button-kontakt:hover,
.nav-button-uns:hover {
  background-color: rgb(202, 201, 201);
}

.nav-button-email {
  background-color: #7f7fb5;
}

.nav-button-email:hover {
  background-color: rgb(202, 201, 201);
}

#header-text {
  position: absolute;
  left: 2rem;
  margin-top: 1.2rem;
  z-index: 5;
  color: #61a1a4;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Video Container */
.video-container {
  flex-grow: 1;
  position: relative;
}

/* Container Styling für den Text und die Buttons */
.header-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Textfarbe für bessere Sichtbarkeit */
  z-index: 3; /* Text und Buttons uber dem Video */
}

.header-container > div > h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Text lesbarer machen */
}

/* Button Container */
.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
  z-index: 3;
}

.button-container button {
  background-color: #61a1a4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: rgb(219, 218, 218);
  color: black;
}

.header-container > div > p {
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.Dienstleistungen-container {
  height: 210vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Dienstleistungen-container > div > h2 {
  font-size: 50px;
  margin: 20px 10px;
  color: #61a1a4;
}

.Dienstleistungen-container > div > p {
  align-self: center;
  font-size: 16px;
  margin-right: 22rem;
  margin-left: 22rem;
  text-wrap: pretty;
  padding: 1rem 6rem 1rem 6rem;
  margin-bottom: 3rem;
  border: 2px solid;
  border-color: #61a1a4;
  border-radius: 20px;
}

.card-container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.card-container h4 {
  color: #61a1a4;
}

.card {
  width: 1000px;
  height: 500px;
  display: flex;
}

.half {
  width: 50%;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;
}

.img1 {
  background-image: url("src/picture/pexels-fauxels-3183172.jpg");
}

.img2 {
  background-image: url("src/picture/pexels-gabby-k-5849564.jpg");
}

.img3 {
  background-image: url("src/picture/pexels-olly-3765132.jpg");
}

.sinvoll-container {
  height: 100vh;
  width: 100%;
  background-color: snow;
  display: flex;
  align-items: center;
}

.sinvoll-container > div > h1 {
  font-size: 40px;
  margin-left: 16rem;
  color: #61a1a4;
}

.sinvoll-container > div > p {
  font-size: 17px;
  padding: 0px 20px 20px 20px;
  text-wrap: pretty;
  margin-left: 15rem;
}

.sinvoll-container > div > img {
  width: 650px;
  margin-top: 7rem;
  border-radius: 1em;
  margin-right: 15rem;
}

.idea-container {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.idea-container > div > img {
  width: 700px;
  margin: 20px 30px;
  border-radius: 1em;
  margin-left: 15rem;
}

.idea-container > div > h1 {
  font-size: 40px;
  margin-left: 20px;
  margin-top: 0;
  color: #61a1a4;
}

.idea-container > div > p {
  font-size: 17px;
  padding: 0px 20px 20px 20px;
  text-wrap: pretty;
  margin-right: 15rem;
}

.uber-uns-container {
  height: 100vh;
  width: 100%;
  background-color: snow;
  display: flex;
  flex-direction: column; /* Vertikale Anordnung der uberschrift */
  align-items: center;
  justify-content: center;
}

.uber-uns-container > div:first-child {
  text-align: center;
}

.uber-uns-container > div:first-child > h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.uber-uns-container > div:nth-child(2),
.uber-uns-container > div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.uber-uns-container > div:nth-child(2) > div,
.uber-uns-container > div:nth-child(3) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
  text-align: left;
  margin: 0 1rem;
}

.personenbilder {
  width: 200px;
  border-radius: 10%;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.kontakt-container {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column; /* Vertikale Anordnung der uberschrift */
  align-items: center;
  justify-content: center;
}

.kontakt-container > h1 {
  font-size: 60px;
  margin-bottom: 0;
}

.kontakt-container > h3 {
  font-size: 30px;
}

#WhatsApp {
  width: 30%;
  margin-left: 16.5rem;
  margin-top: 2rem;
}

.email-button {
  display: inline-block;
  padding: 14px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.email-button:hover {
  background-color: #0056b3;
}

.ic--outline-email {
  display: inline-block;
  width: 4em;
  height: 3.6em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.footer-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column; /* Vertikale Anordnung der uberschrift */
  align-items: center;
  justify-content: center;
}

.footer-container > h1 {
  font-size: 120px;
  margin-bottom: 2rem;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: inherit; /* Behält die Schriftfarbe des Elternelements */
}

.link:hover {
  color: #007bff; /* Farbe beim Hover */
}

.ic--outline-email2 {
  display: inline-block;
  width: 2em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  margin-top: 1rem;
}

@media (max-width: 1620px) {
  .back > p {
    font-size: 14px;
  }
}

@media (max-width: 1590px) {
  .back > p {
    font-size: 10px;
  }
}

/* Tablets (zwischen 768px und 1199px) */
@media (min-width: 768px) and (max-width: 1200px) {
  .nav-button-dienstleistung,
  .nav-button-email,
  .nav-button-kontakt,
  .nav-button-uns {
    font-size: 16px;
    padding: 5px;
  }

  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Video im Hintergrund */
  }

  #video {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Video füllt den gesamten Bildschirm ohne Verzerrung */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Video bleibt im Hintergrund */
  }

  .header-container {
    z-index: 1; /* Text und Buttons über dem Video */
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Textfarbe auf dem Video */
  }

  .header-container > div > h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Lesbarkeit verbessern */
  }

  .header-container > div > p {
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Lesbarkeit verbessern */
  }

  .button-container {
    flex-direction: column;
    z-index: 1; /* Buttons bleiben über dem Video */
  }

  .Dienstleistungen-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert die Cards in der Mitte */
    height: auto;
  }

  .sinvoll-container {
    flex-direction: column;
  }

  .idea-container {
    flex-direction: column;
    height: auto;
  }

  .uber-uns-container {
    height: auto;
  }

  .kontakt-container > h1 {
    font-size: 70px;
  }

  .kontakt-container > h3 {
    font-size: 30px;
  }

  .kontakt-container > div > a {
    margin-left: 3rem;
  }
}

/* Mobile Geräte (unter 768px) */
@media (max-width: 767px) {
  .video-container {
    position: absolute; /* Ändere zu 'absolute' anstatt 'fixed' für mobiles Verhalten */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Video bleibt im Hintergrund */
  }

  #video {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Video füllt den gesamten Bildschirm ohne Verzerrung */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Video bleibt im Hintergrund */
  }

  .header-container {
    position: relative;
    z-index: 1; /* Text über dem Video */
    padding: 1rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .header-container > div > h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Lesbarkeit verbessern */
  }

  .header-container > div > p {
    font-size: 1rem;
    padding-right: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Lesbarkeit verbessern */
  }

  .navigation {
    padding-left: 0;
    padding-right: 0;
  }

  #header-text {
    left: 0.5rem;
  }

  .button-container {
    flex-direction: column;
    z-index: 1; /* Buttons bleiben über dem Video */
  }

  #nav-button-list {
    padding-right: 1rem;
  }

  .nav-button-dienstleistung,
  .nav-button-email,
  .nav-button-kontakt,
  .nav-button-uns {
    font-size: 14px;
    padding: 4px;
  }

  .button-container button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .Dienstleistungen-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert die Cards in der Mitte */
    height: auto;
  }

  .sinvoll-container {
    flex-direction: column;
    height: auto;
  }

  .idea-container {
    flex-direction: column;
    height: auto;
  }

  .uber-uns-container > div:nth-child(2),
  .uber-uns-container > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  .uber-uns-container > div:nth-child(2) > div,
  .uber-uns-container > div:nth-child(3) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    text-align: left;
    margin: 0rem 3rem;
  }

  .uber-uns-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .kontakt-container > h1 {
    font-size: 40px;
  }

  .kontakt-container > h3 {
    font-size: 20px;
  }

  .kontakt-container > div > a {
    margin-left: 3rem;
  }

  .footer-container > h1 {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  .navigation {
    height: 30px;
  }

  #header-text {
    font-size: 22px;
    margin-top: 1.2rem;
  }

  #nav-button-list {
    display: flex;
    gap: 0.2rem;
    padding-right: 1rem;
  }
}

@media (max-width: 610px) {
  .nav-button-dienstleistung,
  .nav-button-email,
  .nav-button-kontakt,
  .nav-button-uns {
    font-size: 13px;
    padding: 4px;
  }
  .header-container > div > h1 {
    font-size: 2rem;
  }

  .header-container > div > p {
    font-size: 15px;
  }

  .Dienstleistungen-container > div > h2 {
    font-size: 40px;
  }

  .Dienstleistungen-container > div > p {
    font-size: 12px;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .card {
    width: 9%;
    height: 500px;
    display: flex;
  }

  .half {
    width: 50%;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fafafa;
  }

  .sinvoll-container > div > h1 {
    font-size: 40px;
  }

  .idea-container > div > h1 {
    font-size: 40px;
  }
}
